@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
    background: url(../img/background.png) no-repeat center center fixed;
}

body {
    /*min-height: 100vh;*/
}

/* Navigation Bar */

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 60px;
    padding: 30px 10%;
    background-color: rgb(41, 40, 40);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.logo {
    margin-right: auto;
    filter: drop-shadow(0px 3px 3px black);
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;

    list-style: none;
    justify-items: center;
}

.nav-links a {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}

.nav-links li {
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: dodgerblue;
}

.username a {
    font-weight: 800;
    padding: 7px 10px;
    color: rgb(0, 0, 0);
    border-radius: 12px;
    background-color: #fff;
}

/* Footer */

footer {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 300;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 30px 10%;
    color: #fff;
    background-color: rgb(41, 40, 40);
}

.footer a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: dodgerblue;
}

body,
input,
button {
    font-family: 'Inter', sans-serif;
    outline: none;
}

.login-form-body {
    position: relative;
    overflow: hidden;
    width: 400px;
    min-width: 400px;
    height: 480px;
    margin: 80px;
    padding: 50px;
    color: #fff;
    border-radius: 10px;
    background-color: rgba(41, 40, 40, 0.74);
    box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 15px;
}

.register-form-body {
    position: relative;
    overflow: hidden;
    width: 400px;
    min-width: 400px;
    height: 750px;
    margin-top: 80px;
    margin-bottom: 130px;
    padding: 50px;
    color: #fff;
    border-radius: 10px;
    background-color: rgba(41, 40, 40, 0.74);
    box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 15px;
}

form a {
    text-decoration: none;
    color: dodgerblue;
}

.button {
    font-size: 15px;
    margin: 10px;
    padding: 10px 40px;
    cursor: pointer;
    transition: all 0.5s ease;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border: 0;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(68, 67, 67, 0.87) 0px 2px 8px 0px;

}

.button:hover {
    letter-spacing: 3px;
    color: hsl(0, 0%, 100%);
    background-color: rgb(0, 178, 104);
    box-shadow: rgba(0, 0, 0, 0.801) 0px 7px 29px 0px;
}

.button:active {
    transition: 100ms;
    transform: translateY(10px);
    letter-spacing: 3px;
    color: hsl(0, 0%, 100%);
    background-color: rgb(0, 178, 104);
    box-shadow: black 0px 0px 0px 0px;
}

.center {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}


.form-textbox {
    width: 100%;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
}

.form-fields {
    justify-content: center;
}

.form-label {
    margin-left: 3px;
}

.form-user-profile {
    font-size: 20px;
    position: relative;
    overflow: hidden;
    width: 460px;
    min-width: 400px;
    height: 100%;
    padding: 50px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: rgba(41, 40, 40, 0.74);
    box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 15px;
}

.form-user-profile h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: 900;
    margin: 0;
    padding-bottom: 30px;
    text-align: center;
}

.form-user-profile td:nth-child(1) {
    padding-right: 10px;
    text-align: right;
}

.form-user-profile td:nth-child(2) {
    text-align: left;
}

.form-user-profile td input {
    font-size: 15px;
    width: 100%;
    height: 25px;
    padding: 2px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
}

.form-user-profile td {
    padding-bottom: 5px;
}

.form-user-profile table {
    margin-bottom: 10px;
}

.radio-label {
    padding-right: 20px;
    color: black;
}

.success {
    color: rgb(5, 211, 5);
}

/*.review-box div,
h3,
p,
tr {
    text-align: left;

}*/

.about {
    font-size: 20px;
    position: relative;
    overflow: hidden;
    width: 600px;
    min-width: 400px;
    height: 100%;
    margin: 80px;
    padding: 50px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: rgba(41, 40, 40, 0.74);
    box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 15px;
}

.search-inputbox {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    width: 75%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

.white-back-text {
    font-weight: 800;
    padding: 2px 10px;
    color: rgb(0, 0, 0);
    border-radius: 12px;
    background-color: #fff;
}

a.white-back-text {
    cursor: pointer;
    color: dodgerblue;
}

.category-title {
    padding: 15px 0;
}

/*.currency-text a {
    padding: 10px;
}*/


/*.checkbox {*/
/*    margin: auto 5px;*/
/*}*/

/* modified */

fieldset {
    border: 0;
}

.form-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    font-weight: 900;
    padding-bottom: 40px;
    text-align: center;
}

.payment-form-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    font-weight: 900;
    padding: 10px 0;
    text-align: center;
}

.payment-description {
    font-size: 20px;
    padding: 10px 0;
}

.payment-price {
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0;
}

.payment-title {
    font-size: 30px;
    padding: 40px 15px 15px 15px;
    text-align: center;
}

.payment-table {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.payment-table td {
    font-size: 20px;
    padding: 0 5px;
}

.payment-table input {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
}

.currency-text {
    font-size: 20px;
    padding: 10px 0;
}

.currency-text a {
    cursor: pointer;
}

/* food container */

.food-container h1 {
    padding-bottom: 5px;
    filter: drop-shadow(5px 3px 5px black);
    -webkit-filter: drop-shadow(5px 3px 5px black);
}

.food-box {
    width: 370px;
    height: 100%;
    margin: auto 10px;
    padding: 35px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 15px;
}

.food-container .button {
    /*height: 30px;*/
    /*margin-top: 20px;*/
    /*margin-bottom: 0px;*/
    display: inline-block;
    padding: 8px 25px;
}

/*.food-container h2 {*/
/*    margin-top: 10px*/
/*}*/

#category-title label {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding: 4px 10px;
    cursor: pointer;
    text-decoration: none;
    color: dodgerblue;

}

.food-box h2, p {
    padding-bottom: 10px;
}

.food-price {
    font-size: 20px;
    font-weight: bold;
}

.food-container td {
    display: inline-block;
    padding: 20px;
}

.food-container {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    min-width: 420px;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto 140px auto;
    padding: 50px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: rgba(41, 40, 40, 0.74);
    box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 15px;
}

/* food container */

.form-container {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 450px;
    min-width: 420px;
    min-height: 400px;
    margin: 0 auto 140px auto;
    padding: 50px;
    color: #fff;
    border-radius: 10px;
    background-color: rgba(41, 40, 40, 0.74);
    box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 15px;
}

.form-container #login-form {
    min-height: 450px;
}

.form-container #register-form {
    min-height: 700px;
}

.bottom {
    margin: 80px 0 0 0;
}

.show-password {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    right: 0;
    margin-top: 3px;
    padding-right: 60px;
    cursor: pointer;
    color: #292828;
}

fieldset div {
    padding-top: 10px;
}

fieldset label {
    margin-left: 3px;
}

.form-input-box {
    width: 100%;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 2px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
}

.error-message {
    color: tomato;
}

.success-message {
    color: rgb(5, 211, 5);
}

.radio-button.form-input-error {
    box-shadow: tomato 0px 0px 5px 2px;
}

input[type='text'].form-input-error,
input[type='password'].form-input-error {
    box-shadow: tomato 0px 0px 5px 2px;
}

input[type='radio'].form-input-error {
    filter: drop-shadow(1px 1px 2px tomato);
}

label.warning-message {
    font-size: 11px;
    display: block;
    color: tomato;
}

.center-text {
    text-align: center;
}

.remember-me {
    margin: 5px;
    text-align: center;
}

.remember-me input, .remember-me label {
    cursor: pointer;
}

.bottom-text {
    margin-top: 20px;
}

.radio-button {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35px;
    margin-top: 5px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
}

.radio-button input {
    margin: 1px 2px 0 0;
}

#prompt-message {
    position: absolute;
    right: 0;
    bottom: 160px;
    left: 0;
    padding: 0 50px;
}

#message {
    font-size: 15px;
}

/*.form-container > div {*/
/*    vertical-align: bottom;*/
/*}*/

/* hide password show eye button
   on IE, MS Edge etc browser */
input::-ms-reveal,
input::-ms-clear {
    display: none;
}

/* Comment Container */

.comment-container {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    min-width: 420px;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto 140px auto;
    padding: 50px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: rgba(41, 40, 40, 0.74);
    box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 15px;
}

#comment {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    width: 95%;
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
}

#comment.form-input-error {
    box-shadow: tomato 0px 0px 5px 2px;
}

#comment-error {
    display: block;
}

.reviews {
    display: block;
    margin: 20px 0;
    padding: 20px;
    text-align: left;
    border-radius: 5px;
    background-color: rgb(41, 40, 40);

}

#posted-comment {
    padding: 3px 0 0 5px;
}

.comment-container #description {
    margin: 15px 0;
}

.review-box {
    width: 100%;
    height: 100%;
    padding: 50px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 15px;
}


.reviewer-name {
    font-weight: 800;
    padding: 2px 10px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    background-color: #fff;
}

.reply {
    float: right;
    cursor: pointer;
}

.replying-to {
    display: flex;
    justify-content: center;
    margin: 25px 10% -30px 10%;
    padding: 5px 20px 20px 5px;
    text-align: center;
    border-radius: 10px;
    background-color: #002e5e;


}

/*


.review-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin: 80px;
    margin-bottom: 140px;
    padding: 50px 100px;
    color: #fff;
    border-radius: 10px;
    background-color: rgba(41, 40, 40, 0.74);
    box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 15px;
}


.review-container h1 {
    padding-bottom: 15px;
    filter: drop-shadow(5px 3px 5px black);
    -webkit-filter: drop-shadow(5px 3px 5px black);
}



.review-input {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

*/

#database-error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

#database-error h1 {
    padding: 15px;
}